.wrapper-rated {
  // background-color: cornflowerblue;
  height: 18rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.title-rated {
  // background-color: chocolate;
  height: 3rem;
  width: 100%;
  color: white;
}

.movie-rated {
  // background-color: yellow;
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

li {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
