.wrapper-rated {
  position: relative;
  height: 15rem;
  width: 13rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cover-rated {
  // background-color: cadetblue;
  height: 15rem;
  width: 12rem;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 12rem;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  margin: 0 auto;
  border-radius: 5px;

}

.wrapper-rated:hover .overlay {
  opacity: 1;
  border-radius: 5px;
}

.favorite {
  // background-color: blueviolet;
  height: 3rem;
  width: 3rem;
}

img {
  height: 100%;
  width: 100%;
  border-radius:5px;
}
