.wrapper-side {
  background-color: wheat;
  width: 17.5rem;
  border-right: 1px solid rgba(128, 128, 128, 0.178);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title-side {
  background-color: red;
  height: 2rem;
  text-align: center;
}

.panel {
  background-color: violet;
  height: 10rem;
}

.follow-title {
  background-color: coral;
  height: 2rem;
}

.follow {
  background-color: teal;
  min-height: 10rem;
}
