.wrapper-side {
  background-color: #0a0a0a;
  width: 17.5rem;
  border-right: 1px solid rgba(128, 128, 128, 0.178);
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 4px;
}

.title-side {
  background-color: red;
  height: 2rem;
  text-align: center;
}

.panel {
  background-color: rgba(51, 50, 50, 0.37);
  height: 10rem;
  border-radius: 10px;
}

.panel .title-panel {
  // background-color: antiquewhite;
  width: 100%;
  height: 2rem;
  padding: 5px;
  color: grey;
}

.follow-title {
  background-color: coral;
  height: 2rem;
}

.follow {
  background-color: teal;
  min-height: 10rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: grey;
}
