<div class="wrapper">
  <div class="divider-logo">
    <div class="title-app">
      <h2>Movie app TMDB</h2>
    </div>
    <div class="logos">
      <div class="mylogo">
        <img src="../../../../assets/images/logo-adrian.png" alt="" />
      </div>
      <div class="logo-tmdb"></div>
    </div>
  </div>
  <div class="divider-login">
    <form class="login-form">
      <div class="title">LOGIN</div>
      <div class="group-input">
        <div class="wrapper-inputs">
          <div class="box-input">
            <input type="email" required />
            <label for="email">Email</label>
          </div>
          <div class="box-input">
            <input type="password" required />
            <label>Password</label>
          </div>
        </div>
      </div>
      <div class="pass"><a> Forgot password </a></div>
      <div class="btn-log">
        <button>Login</button>
      </div>
    </form>
  </div>
</div>
