.wrapper-section {
  // background-color: burlywood;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-section .title {
  // background-color: antiquewhite;
  height: 2rem;
  width: 100%;
  color: white;
}

.title h3 {
  padding: 1px;
}

.card-movie {
  width: 100%;
  height: 15rem;
  // background-color: wheat;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
