.wrapper-section {
  // background-color: burlywood;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  // background-color: red;
  height: 2rem;
  width: 100%;
  color: white;
}

.movie-section {
  // background-color: yellow;
  height: 15rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;

}

li {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
