.card-wrapper {
  // background-color: aquamarine;
  height: 15rem;
  width: 13rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-cover {
  // background-color: darkgoldenrod;
  height: 15rem;
  width: 12rem;
  border-radius: 5px;
  cursor: pointer;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
